.library-object{
    width: 100%;
    justify-content: space-between;
    color: var(--white-color);
    padding: 20px 0;
    align-items: center;
    border-bottom: 1px solid var(--info-color);
}
.ul-library{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.ul-library li{
    padding: 0 15px;
}
.ul-library li h5{
    font-weight:700;
    font-size: 15px;
}
.ul-library li span{
    font-size: 15px;
    color: var(--my-color);
}
.library-btn{
    padding: 10px 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--my-color);
    background-color: transparent;
    color: var(--my-color);
}
.library-btn-active button{
    border: 1px solid var(--pink-color);
    color: var(--pink-color);
}
.library-object .img img {
    border-radius: var(--border-radius);
}
@media (max-width: 991px) {
    .library-object .ul-library li{
        width: 50%;
    }
    .library-object .ul-library li:not(:first-child){
        margin-top: 15px;
    }
    .library-object .ul-library{
        text-align: center;
    }
}
@media (max-width: 767px) {
    .library-object .ul-library li:first-child,
    .library-object .ul-library li:last-child{
        width: 100%;
    }
}